.text-center{
    color: #212529;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
}
.display-4{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.fa-book-open::before{
    color: #2C3E50;
    margin-right: 15px;
}
.title{
    color: #95a5a6 !important;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-right: 8px;
    font-weight: 500;
}
